{% extends 'base.html' %}

{% block content %}
<h5>Username: {{request.user|capfirst}}</h5>

{% if current_receiver %}
    <h5>Direct message with: {{ current_receiver.username|capfirst }}</h5>
{% else %}
    <h3>Select a user to chat with.</h3>
{% endif %}

<textarea id="message-log" cols="100" rows="20" readonly></textarea><br>
<div class="message-input-container">
    <input id="message-input" type="text" size="90" placeholder="Type your message...">
    <input id="message-submit" type="button" value="Send">
</div>

<a href="#" onclick="logout()">Logout</a>&nbsp;
<a href="{% url 'users:dashboard' %}">Dashboard</a>

<script>
    const messageLog = document.querySelector('#message-log'); // Declare messageLog globally
    const receiverSelect = document.querySelector('#receiver-select');
    let currentReceiver = '{{ current_receiver.username }}';

    // WebSocket connection
    const receiver = '{{ current_receiver.username }}'; // Make sure this is set correctly in your template
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/direct_messages/' + receiver + '/'
    );


    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log(data.messages)
        if (data.messages) {
                data.messages.forEach(message => {
                    const { timestamp, username, message: messageText } = message;
                    const capitalizedUsername = username.charAt(0).toUpperCase() + username.slice(1);
                    messageLog.value += `${timestamp} ${capitalizedUsername}: ${messageText}\n`;
                });
        }
        else {
            const { message, sender, timestamp } = data;
            console.log(data)
            const capitalizedSender = sender.charAt(0).toUpperCase() + sender.slice(1);
            messageLog.value += `${timestamp} ${capitalizedSender}: ${message}\n`;
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#message-input').focus();
    document.querySelector('#message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#message-submit').click();
        }
    };

    document.querySelector('#message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#message-input');

        var messageInput = messageInputDom.value.trim();  // remove leading or trailing whitespaces
        if (messageInput) {  // Only send message if there's valid input
            chatSocket.send(JSON.stringify({
                message: messageInput,
                'receiver': currentReceiver
            }));
            messageInputDom.value = '';
        }
    };
</script>
<script>
    function logout() {
        // Create a form element
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '{% url "users:logout" %}';
    
        // Create a hidden input field for the CSRF token
        var csrfTokenInput = document.createElement('input');
        csrfTokenInput.type = 'hidden';
        csrfTokenInput.name = 'csrfmiddlewaretoken';
        csrfTokenInput.value = '{{ csrf_token }}';
    
        // Append the CSRF token input to the form
        form.appendChild(csrfTokenInput);
    
        // Append the form to the document body
        document.body.appendChild(form);
    
        // Submit the form
        form.submit();
    }
</script>

{% endblock %}