{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        Hello, <b>{{ user.username|capfirst|default:'Guest' }}!</b>
        {% if user.user_type == 'pro' %}
            (Pro)<sup>*</sup>
        {% else %}
            (Basic)<sup>*</sup>
        {% endif %}
        <br>
        <span style="color: #999; font-size: 0.8em;"><sup>*</sup>Pro users can delete messages and see entire chat history.</span><br><br>

        {% if current_receiver %}
            messaging with: <b>{{ current_receiver.username|capfirst }}</b><br><br>
            <div>
                <div id="message-log" style="border: 1px solid #ccc; padding: 10px; height: 300px; overflow-y: auto;"></div><br>
                <div class="message-input-container">
                    <input id="message-input" type="text" size="50">
                    <button id="emoji-button" style="font-size: 1.0em;">😊</button>
                    <input id="message-submit" type="button" value="Send">
                </div>
            </div>
            <div id="emoji-picker" style="display: none; border: 1px solid #ccc; padding: 10px; position: absolute; background: white; z-index: 10;">
                {% for emoji in emoji_list %}
                    <span class="emoji" data-emoji="{{ emoji }}">{{ emoji }}</span>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Message Template -->
        <div id="message-template" style="display: none;">
            <span class="timestamp" style="font-style: italic; color: grey; font-size: 0.8em;"></span>  <b class="username"></b> : <span class="message-content"></span>
            <button class="delete-message-button" style="color: red; background: none; border: none; cursor: pointer; font-size: 0.5em;">X</button>
        </div>

        <a href="#" onclick="logout()">Logout</a>&nbsp;
        <a href="{% url 'users:dashboard' %}">Dashboard</a>
    {% else %}
        <h5>You can access this page only if you are logged in.</h5>
        <a href="{% url 'users:dashboard' %}">Dashboard</a>
    {% endif %}

<script>
    const messageLog = document.querySelector('#message-log'); // Declare messageLog globally
    const messageInput = document.querySelector('#message-input');
    let currentReceiver = '{{ current_receiver.username }}';

    let chatSocket = null;  // Store the WebSocket connection reference
    
    function connectToWebSocket() {
        if(!chatSocket) {
            chatSocket = new WebSocket('ws://' + window.location.host + '/ws/direct_messages/' + currentReceiver + '/');
        
            chatSocket.onmessage = handleSocketMessage;
            chatSocket.onclose = handleSocketClose;
        }
    }

    function handleSocketMessage(e) {
        const data = JSON.parse(e.data);
        if (data.messages) {
            //console.log(data.messages)
            updateChatLog(data.messages);
        } else {
            //console.log(data)
            appendMessage(data);
        }
    }

    function updateChatLog(messages) {
        messageLog.innerHTML = '';  // Clear existing messages
        messages.forEach(appendMessage);
    }

    function appendMessage({ username = "Unknown User", message = "No message", timestamp = "Unknown time", message_id }) {
        const messageTemplate = document.getElementById('message-template').cloneNode(true);
        messageTemplate.id = '';
        messageTemplate.style.display = '';
        messageTemplate.querySelector('.timestamp').textContent = timestamp;
        messageTemplate.querySelector('.username').textContent = username.charAt(0).toUpperCase() + username.slice(1);;
        messageTemplate.querySelector('.message-content').textContent = message;

        if ('{{ user.user_type }}' === 'pro') {
            const deleteButton = messageTemplate.querySelector('.delete-message-button');
            deleteButton.dataset.messageId = message_id;
            deleteButton.addEventListener('click', () => handleDeleteMessage(message_id));
        } else {
            messageTemplate.querySelector('.delete-message-button').remove();
        }

        messageLog.appendChild(messageTemplate);
        scrollToBottom();
        showNotification(username, message);
    }

    function handleSocketClose() {
        console.error('Chat socket closed. Reconnecting...');
        chatSocket = null;  // Clear the reference
        setTimeout(connectToWebSocket, 2000); // Reconnect after 2 seconds
    }

    function showNotification(username, message) {
        if (Notification.permission === 'granted') {
            if(username) //  show notification only if username is present
                new Notification(`New message from ${username}`, { body: message });
        }
    }

    // Request notification permission
    if (Notification.permission === 'default') {
        Notification.requestPermission().then(permission => {
            if (permission === 'granted') {
                console.log('Notification permission granted.');
            }
        });
    }

    function scrollToBottom() {
        messageLog.scrollTop = messageLog.scrollHeight;
    }

    function handleDeleteMessage(messageId) {
        if (confirm("Are you sure you want to delete this message?")) {
            // Send a delete message through the WebSocket
            chatSocket.send(JSON.stringify({
                type: 'delete',
                message_id: messageId
            }));
        }
    }

    connectToWebSocket();

    messageInput.focus();
    messageInput.onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#message-submit').click();
        }
    };

    document.querySelector('#message-submit').onclick = function(e) {
        var chatInput = messageInput.value.trim();
        if (chatInput) {
            chatSocket.send(JSON.stringify({
                message: chatInput,
                type:'message',
                'receiver': currentReceiver,
            }));
            messageInput.value = '';
        }
    };

    // Emoji picker
    const emojiButton = document.getElementById('emoji-button');
    const emojiPicker = document.getElementById('emoji-picker');

    emojiButton.addEventListener('click', () => {
        emojiPicker.style.display = emojiPicker.style.display === 'none' ? 'block' : 'none';
    });

    // Close the emoji picker when typing
    messageInput.addEventListener('input', () => {
        emojiPicker.style.display = 'none';
    });

    document.querySelectorAll('.emoji').forEach(emoji => {
        emoji.addEventListener('click', () => {
            messageInput.value += emoji.getAttribute('data-emoji');
            messageInput.focus(); // Keep focus on the input
        });
    });

    // Close the emoji picker if clicking outside of it
    document.addEventListener('click', (event) => {
        if (!emojiPicker.contains(event.target) && event.target !== emojiButton) {
            emojiPicker.style.display = 'none';
        }
    });

    function logout() {
        if (confirm("Are you sure you want to log out?")) {
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '{% url "users:logout" %}';
            const csrfTokenInput = document.createElement('input');
            csrfTokenInput.type = 'hidden';
            csrfTokenInput.name = 'csrfmiddlewaretoken';
            csrfTokenInput.value = '{{ csrf_token }}';
            form.appendChild(csrfTokenInput);
            document.body.appendChild(form);
            form.submit();
        }
    }
</script>

{% endblock %}