{% extends 'base.html' %}

{% block title %}Chat Rooms{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if user.is_authenticated %}
        <h5>Chat Rooms</h5>
        <ul id="room-list">
            {% for room in rooms %}
                <li><a href="{% url 'chat:room' %}?room_name={{ room.name }}">{{ room.name }}</a></li>
            {% empty %}
                <li>No rooms available.</li>
            {% endfor %}
        </ul>

        {% if user.user_type == 'pro' %}  
        <h5>Create a new Chat Room</h5>
        <form id="create-room-form" method="POST">
            {% csrf_token %}
            <input id="room-name-input" name="room_name" type="text" size="50" required><br>
            <input id="room-name-submit" type="submit" value="Enter"> <br>
        </form>
        {% endif %}
        
        <a href="#" onclick="logout()">Logout</a>&nbsp;
    {% else %}
        <h5>You can access this page only if you are logged in.</h5>
    {% endif %}

    <a href="{% url 'users:dashboard' %}">Dashboard</a>

    <script>
        const roomInput = document.querySelector('#room-name-input');
        const submitButton = document.querySelector('#room-name-submit');

        roomInput.focus();

        roomInput.oninput = function() {
            const roomName = roomInput.value.trim();
            submitButton.disabled = roomName === '';
        };

        roomInput.onkeyup = function(e) {
            if (e.keyCode === 13 && !submitButton.disabled) {  // enter, return
                submitButton.click();
            }
        };

        submitButton.onclick = function() {
            const roomName = roomInput.value.trim();
            console.log('Redirecting to room:', roomName);
            if (roomName) {
                const searchParams = new URLSearchParams(window.location.search);
                searchParams.set('room_name', roomName);
                window.location.href = `/chat/?${searchParams.toString()}`;
            }
        };
    </script>

    <script>
        function logout() {
            // Create a form element
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '{% url "users:logout" %}';
        
            // Create a hidden input field for the CSRF token
            var csrfTokenInput = document.createElement('input');
            csrfTokenInput.type = 'hidden';
            csrfTokenInput.name = 'csrfmiddlewaretoken';
            csrfTokenInput.value = '{{ csrf_token }}';
        
            // Append the CSRF token input to the form
            form.appendChild(csrfTokenInput);
        
            // Append the form to the document body
            document.body.appendChild(form);
        
            // Submit the form
            form.submit();
        }
    </script>
{% endblock %}