<!-- chat/templates/chat/room.html -->

{% extends 'base.html' %}

{% block title %}Chat Room - {{ room_name }}{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <a href="{% url 'chat:index' %}">Back to Groups</a> <br>
        Room: <b>{{room_name|capfirst}}</b><br>
        Username: <b>{{request.user|capfirst}}</b><br>
        {% if user.user_type == 'pro' %}
            Your subscription type: <b>PRO</b>
        {% else %}
            Your subscription type: <b>BASIC</b>
        {% endif %}
        <br><br>
        <h5>Participants</h5>
        <ul id="participant-list"></ul>
            {% for participant in participants %}
                <li>
                    {{ participant.username }}
                    {% if user.user_type == 'pro' and participant != request.user %}
                        <a href="{% url 'chat:remove_user_from_room' room_name participant.username %}" onclick="return confirmDelete();" style="color: red; font-size: 12px; cursor: pointer;">&#x2716;</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if user.user_type == 'pro' %}
        <h5>Invite User to Room</h5>
        <form method="POST" action="{% url 'chat:invite_to_room' room_name %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Enter username to invite" required>
            <input type="submit" value="Invite">
        </form>
        {% endif %}
        <br><br>

        <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br>
        <div class="chat-input-container">
            <input id="chat-message-input" type="text" size="90">
            <input id="chat-message-submit" type="button" value="Send">
        </div>
        
        {{ room_name|json_script:"room-name" }}

        <a href="#" onclick="logout()">Logout</a>&nbsp;
        <a href="{% url 'users:dashboard' %}">Dashboard</a>
    {% else %}
        <h5>You can access this page only if you are logged in.</h5>
        <a href="{% url 'users:dashboard' %}">Dashboard</a>
    {% endif %}
    
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        let chatSocket = null;  // Store the WebSocket connection reference

        function connectToChat() {
            if(!chatSocket) {
                chatSocket = new WebSocket(
                    'ws://'
                    + window.location.host
                    + '/ws/chat/'
                    + roomName
                    + '/'
                );
            }

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
        
                // This should handle messages from other users
                const { username = "Unknown User", message = "No message", timestamp = "Unknown time" } = data;
                
                // Check if messages are present
                if (data.messages) {
                    data.messages.forEach(msg => {
                        const { username, message, timestamp } = msg;
                        document.querySelector('#chat-log').value += `${timestamp} ${username}: ${message}\n`;
                    });
                } else {
                    const { username = "Unknown User", message = "No message", timestamp = "Unknown time" } = data;
                    document.querySelector('#chat-log').value += `${timestamp} ${username}: ${message}\n`;
                }
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed. Reconnecting...');
                chatSocket = null;  // Clear the reference
                setTimeout(connectToChat, 2000); // Reconnect after 2 seconds
            };
        }

        connectToChat();
        
        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');   

            var messageInput = messageInputDom.value.trim();  // remove leading or trailing whitespaces
            if (messageInput) {  // Only send message if there's valid input
                chatSocket.send(JSON.stringify({
                message: messageInput,
                username: '{{ request.user.username|capfirst }}'
                }));
                messageInputDom.value = '';
            }
        };
    </script>
    <script>
        function logout() {
            // Create a form element
            var form = document.createElement('form');
            form.method = 'POST';
            form.action = '{% url "users:logout" %}';
        
            // Create a hidden input field for the CSRF token
            var csrfTokenInput = document.createElement('input');
            csrfTokenInput.type = 'hidden';
            csrfTokenInput.name = 'csrfmiddlewaretoken';
            csrfTokenInput.value = '{{ csrf_token }}';
        
            // Append the CSRF token input to the form
            form.appendChild(csrfTokenInput);
        
            // Append the form to the document body
            document.body.appendChild(form);
        
            // Submit the form
            form.submit();
        }
    </script>
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to remove this user from the group?");
        }
    </script>
    
{% endblock %}