<!-- ChatApp/chat/dashboard.html -->
{% extends 'base.html' %}
{% block content %}
<br>
Hello, <b>{{ user.username|capfirst|default:'Guest' }}!</b>

<div>
  {% if user.is_authenticated %}
    {% if user.user_type == 'pro' %}
        <p>Your subscription type: <b>PRO</b></p>
    {% else %}
        <p>Your subscription type: <b>BASIC</b></p>
    {% endif %}
    <a href="{% url 'chat:index' %}">Chatrooms</a><br>
    <a href="{% url 'users:password_change' %}">Change password</a> <br>
    <a href="{% url 'users:search_users' %}">Search Users</a><br>
    <a href="#" onclick="logout()">Logout</a>
  {% else %}
    <a href="{% url 'users:login' %}">Login</a>&nbsp;
    <a href="{% url 'users:register' %}">Register</a>
  {% endif %}
</div>

<script>
function logout() {
    // Create a form element
    var form = document.createElement('form');
    form.method = 'POST';
    form.action = '{% url "users:logout" %}';

    // Create a hidden input field for the CSRF token
    var csrfTokenInput = document.createElement('input');
    csrfTokenInput.type = 'hidden';
    csrfTokenInput.name = 'csrfmiddlewaretoken';
    csrfTokenInput.value = '{{ csrf_token }}';

    // Append the CSRF token input to the form
    form.appendChild(csrfTokenInput);

    // Append the form to the document body
    document.body.appendChild(form);

    // Submit the form
    form.submit();
}
</script>
{% endblock %}

