<!-- ChatApp/chat/dashboard.html -->
{% extends 'base.html' %}
{% block content %}
<br>
Hello, <b>{{ user.username|capfirst|default:'Guest' }}!</b>
{% if user.is_authenticated %}
    {% if user.user_type == 'pro' %}
        (Pro)<sup>*</sup>
    {% else %}
        (Basic)<sup>*</sup>
    {% endif %}
    <br>
    <span style="color: #999; font-size: 0.8em;"><sup>*</sup>Pro users can create groups and add users, in addition to seeing entire chat history.</span>
{% endif %}

<div>
  <p></p>
  {% if user.is_authenticated %}
    <a href="{% url 'chat:index' %}">Groups</a><br>
    <a href="{% url 'users:search_users' %}">Search Users</a><br>
    <a href="{% url 'users:password_change' %}">Change password</a> <br>
    <a href="#" onclick="logout()">Logout</a>
  {% else %}
    <a href="{% url 'users:login' %}">Login</a>&nbsp;
    <a href="{% url 'users:register' %}">Register</a>
  {% endif %}
</div>

<script>
function logout() {
    // Create a form element
    var form = document.createElement('form');
    form.method = 'POST';
    form.action = '{% url "users:logout" %}';

    // Create a hidden input field for the CSRF token
    var csrfTokenInput = document.createElement('input');
    csrfTokenInput.type = 'hidden';
    csrfTokenInput.name = 'csrfmiddlewaretoken';
    csrfTokenInput.value = '{{ csrf_token }}';

    // Append the CSRF token input to the form
    form.appendChild(csrfTokenInput);

    // Append the form to the document body
    document.body.appendChild(form);

    // Submit the form
    form.submit();
}
</script>
{% endblock %}

