<!--users/templates/users/dashboard.html-->
{% extends 'base.html' %}
{% block content %}
Hello, {{ user.username|capfirst|default:'Guest' }}!

<div>
    {% if user.is_authenticated %}
        <br>
        <a href="{% url 'chat:index' %}">Chatroom</a> <br><br>
        <a href="{% url 'users:password_change' %}">Change password</a> <br><br>
        <form action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <br>
        <a href="{% url 'users:login' %}">Login</a>
    {% endif %}
</div>
{% endblock %}
