{% extends 'base.html' %}
{% block content %}
<br>
<h5>Hello, {{ user.username|capfirst|default:'Guest' }}!</h5>

<div>
  {% if user.is_authenticated %}
    <br>
    <h5>Search Users</h5>
    <form method="get">
      <label for="query">Enter the first few characters of username:</label><br>
      <input type="text" name="query" id="query" placeholder="User name" value="{{ query|default:'' }}" onfocus="clearQuery()">
      <input type="submit" value="Search">
    </form>
    <br>
    {% if users %}
      <h5>Search Results</h5>
      <ul>
        {% for user in users %}
          {% if not user.is_staff %}  <li>
            <a href="{% url 'chat:direct_messages' %}?receiver={{ user.username }}">{{ user.username|capfirst }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% else %}
      <p>No users found for your search.</p>
    {% endif %}
    <a href="#" onclick="logout()">Logout</a> &nbsp;
    <a href="{% url 'users:dashboard' %}">Dashboard</a> &nbsp;

  {% else %}
    <a href="{% url 'users:login' %}">Login</a>&nbsp;
    <a href="{% url 'users:register' %}">Register</a>
  {% endif %}
</div>

<script>
function clearQuery() {
    const queryInput = document.getElementById('query');
    if (queryInput.value === "None") {
        queryInput.value = '';
    }
}

function logout() {
    // Create a form element
    var form = document.createElement('form');
    form.method = 'POST';
    form.action = '{% url "users:logout" %}';

    // Create a hidden input field for the CSRF token
    var csrfTokenInput = document.createElement('input');
    csrfTokenInput.type = 'hidden';
    csrfTokenInput.name = 'csrfmiddlewaretoken';
    csrfTokenInput.value = '{{ csrf_token }}';

    // Append the CSRF token input to the form
    form.appendChild(csrfTokenInput);

    // Append the form to the document body
    document.body.appendChild(form);

    // Submit the form
    form.submit();
}
</script>
{% endblock %}